$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-sass/lib/responsive";

/* Put your CSS here */
html, body {
  margin: auto;
  max-width: 1390px;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.index-head {
  line-height: 1.1;
}

.search-prompt {
  font-size: 14px;
  line-height: 1;
  padding-top: 30px;
}

.search-input {
  font-size: 18px;
  margin-bottom: 40px;
}

.hero-unit {
    margin: 0px auto 0px auto;
    background-color: #eee;
    border-radius: 6px;
    padding: 40px;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.2;
    .padded-top {
      padding-top: 20px;
    }
}

.hero-unit h1 {
    font-size: 48px;
    line-height: 1;
    letter-spacing: -1px;
    padding-bottom: 12px;
}

.hero-unit h2 {
    font-size: 32px;
    line-height: 1;
    letter-spacing: -1px;
    padding-bottom: 0px;
}

.hero-unit {
  .bio {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.2;
    strong {
      font-weight: 600;
    }
    em {
      font-weight: 400;
    }
  }
  .bio-credit {
    clear: both;
    margin-top: -16px;
    font-size: 14px;
  }
  .section-head {
    clear: both;
    padding-top: 30px;
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
  }
  .pub-info {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.2;
    strong {
      font-weight: 600;
    }
    em {
      font-weight: 400;
    }
  }
  .artist-link {
    margin: 0;
    padding: 0;
  }
  .book {
    .summary {
      font-size: 18px;
      font-weight: 200;
      line-height: 1.2;
      strong {
        font-weight: 600;
      }
      em {
        font-weight: 400;
      }
    }
  }
  .country {
    font-size: 22px;
    font-weight: 400;
  }
  .dates {
    padding-left: 14px;
  }
}

/*
.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}
*/
.artists li {
  clear: both;
  height: 100px;
  padding-top: 15px;
}

/** Detail View **/
img.artwork {
  float: left;
  border: 1px solid black;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: white;
  padding: 10px;
  height: 480px;
  width: 480px;
}

ul.artwork-thumbs {
  margin: 0;
  list-style: none;
}

ul.artwork-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: white;
}

ul.artwork-thumbs img {
  height: 102px;
  width: 102px;
  padding: 4px;
}

ul.artwork-thumbs img:hover {
  cursor: pointer;
}

.artwork-particulars p {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

.artwork-title {
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
}

h1 {
  border-bottom: 1px solid gray;
}
