<div class="well sidebar-nav">

  <h3 class="index-head">Our Haitian Art Collection</h3>

  <ul class="padded-top nav nav-list" ng-controller="ArtistListCtrl">

    <li class="nav-header">Haitian - Works Available</li>
    <li ng-repeat="artist in data.artists | filter:{cat: 'avail'}">
      <a href="/#!/artists/{{artist.id}}">{{artist.last_name}}, {{artist.first_name}}</a>
    </li>

    <li class="nav-header">Haitian - Sales Archives</li>
    <li ng-repeat="artist in data.artists | filter:{cat: 'sold'}">
      <a href="/#!/artists/{{artist.id}}">{{artist.last_name}}, {{artist.first_name}}</a>
    </li>
    
    <li class="nav-header">Artists from Other Countries</li>
    <li ng-repeat="artist in data.artists | filter:{cat: 'other'}">
      <a href="/#!/artists/{{artist.id}}">{{artist.last_name}}, {{artist.first_name}} <i>({{artist.country}})</i></a>
    </li>
    
  </ul>

</div>
