<div class="span12 hero-unit">

	<h1 align="center">Contact</h1>

	<h3 align="center" class="padded-top">West Indian Literature Booklist</h3>

	<p>I would like to add readers' comments on these titles, and invite anyone to contribute by e-mailing their comments to me at <a href="mailto:comments@westindiesbooks.com">West Indies Books</a>. (I reserve the right to edit any comments, but I will not publish edited comments without the contributor's permission.)</p>
	<p>I am also always seeking any corrections and additions to the list, and will acknowledge and post all legitimate submissions as soon as possible.</p>

	<h3 align="center" class="padded-top">Art Collection Inquiries</h3>

	</p>To inquire about a painting in our art collection, please email <a href="mailto:patrick@ibookx.com">Patrick Jamieson</a>.</p>

</div>