<div class="span12">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#!">WestIndiesBooks.com</a>
      <div class="nav-collapse collapse" ng-controller="HeaderController">
        <!--p class="navbar-text pull-right">
          Logged in as <a href="#" class="navbar-link">Username</a>
        </p-->
        <ul class="nav">
          <li ng-class="{ active: isActive('/') }"><a href="#!">Home</a></li>
          <li ng-class="{ active: isActive('/booklist') }"><a href="#!booklist">Booklist</a></li>
          <li ng-class="{ active: isActive('/sources') }"><a href="#!sources">Booklist Sources</a></li>
          <li ng-class="{ active: isActive('/notes') }"><a href="#!notes">Art Collection Notes</a></li>
          <li ng-class="{ active: isActive('/about') }"><a href="#!about">About</a></li>
          <li ng-class="{ active: isActive('/contact') }"><a href="#!contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
</div>