<div class="span12 hero-unit">

	<h1 align="center">Booklist Sources</h1>

	<p class="padded-top">In creating this list of West Indian Literature, I have simply compiled information from various sources. I began with about 600 books from my personal collection, then added additional information from three now-shuttered web sites: <em>A List of Caribbean Writers, Bibliography of Creative Writing in Trinidad,</em> and <em>Caribbean Imprint Library Services</em>.</p>
	<p>My other sources include:</p>

	<h3 class="padded-top">Reference Books</h3>
	<p>Birbalsingh, Frank. <em>Frontiers of Caribbean Literature in English.</em> New York: St. Martin's Press [1996].</p>
	<p>Cumber Dance, Daryl. <em>New World Adams: Conversations with Contemporary West Indian Writers.</em> Leeds: Peepal Tree Press, 1992.</p>
	<p>Paravisini-Gebert, Lizabeth and Olga Torres-Seda. <em>Caribbean Women Novelists: An Annotated Critical Bibliography.</em> Westport, Connecticut / London: Greenwood Press [1993].</p>
	<p>Ramchand, Kenneth. <em>The West Indian Novel and its Background.</em> London: Faber and Faber [1971].</p>

	<h3 class="padded-top">Individuals</h3>
	<p>John Stryker</p>
	<p>Heather, Iris, JW Chin, Kathy Ann, and L.Snow from <a href="http://www.spiceisle.com/talkshop/">The SpiceIslander TalkShop</a></p>

	<h3 class="padded-top">Publishers</h3>
	<p><a target="_blank" href="http://www.hansibpublications.com/">Hansib Publications</a></p>
	<p><a target="_blank" href="http://www.heinemann.com">Heinemann</a></p>
	<p><a target="_blank" href="http://www.houseofnehesipublish.com">House of Nehesi Publishers</a></p>
	<p><a target="_blank" href="http://www.ianrandlepublishers.com">Ian Randle Publishers</a></p>
	<p><a target="_blank" href="http://www.peepaltreepress.com">Peepal Tree Press</a></p>

</div>